/*for global body background*/
.globalbg{
  background-color: whitesmoke;
}

/*for navigation bar: */
/* body{
  margin: 0;
  padding: 0;
 
} */

/* 
.vertical {
  background-color:rgb(121, 120, 120);
  width: 150px;
  height: 100vh;
  position: fixed;
  margin-top: 46px;
  
}

.vertical a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 25px;
  text-align: center;
  font-size: 15px;
}

.vertical a:hover {
  background-color: rgb(16, 20, 233);
}

.vertical ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
} */

/* for horizontal*/
.horizontal {
  list-style: none;
  background-color: #333;
  position: relative;
  width: 100%;

}

.horizontal ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.horizontal li {
  float: left;
  
}

.horizontal li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.horizontal li a:hover {
  background-color: #2714d6;
  
}

.bar-right {
  float: right;

} 



.column1 {
 float: left;
  width: 500px;
  background-color: #877ed3;
  height: 270px;
  position: relative;
  left: 300px;
  top: 150px;
  box-shadow: 20px 20px 20px 20px;
  
}

.column2 {
  float: left;
  width:500px;
  height: 570px;
  position: relative;
  left: 400px;
  background-color:aliceblue;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  position: relative;
  left: 30px;
} 
.fontdisplay{
  width: 100%;
  position: relative;
  left:0 px;
  background-image: url(../image/font1.jpg);

}
.imagg{
  width: 100%;
  height:  570px; 
     flex: 1; 
    object-fit: cover;  
  }
  
  #name1{
    text-align: center;
    position: relative;
    left: 15px;
    top: 10px;
    text-shadow: 0 0 3px #FF0000;
  }
  #name2{
    text-align: center;
    position: relative;
    left: 5px;
  top: 20px;
   text-shadow: 0 0 3px #c5a22d;
  }
  i{
    font-size: 50px;
    position: relative;
    left:150px ;
    top: 50px;
    margin: 10px;
    color: #2714d6;
  }
  



